DB_URL=jdbc:postgresql://db.hjppmsjcetpjmjkfzylr.supabase.co:5432/postgres?sslmode=require
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_THIS_PASSWORD_PLACEHOLDER
JWT_SECRET=change-this-to-min-256-bit-secret-key-for-dev-only-please-change-in-prod-1234567890
SPRING_PROFILES_ACTIVE=prod
